:root {
  --dark-color: #262626;
  --bege-color:#f2e2ce;
}







* {
	box-sizing: border-box;
	font-family: 'Roboto Condenced', serif;
}
body {
	padding: 0;
	margin: 0;
	background-color: var(--dark-color);
	max-width: 100vw;
	overflow-x: hidden;
}
#wrap {
	width: 100%;
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
}
a {
	color: var(--dark-color);
	text-decoration: none;
}
a.logo {
	display: block;
}
ul, ol {
	list-style: none;
	margin: 0;
}

section	{
	width: 100%;
	min-height: 100vh;
	background-color:  var(--dark-color);
}
#socialLinksBar {
	position: fixed;
	z-index: 10;
	right: 0;
	bottom: 22%;
	width: 74px;
	background-color:  var(--dark-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px 0;
}

#socialLinksBar a {
	margin-bottom: 20px;
}
#socialLinksBar a:last-child {
	margin-bottom: 0px;
}
#socialLinksBar a:hover {
	-webkit-filter:saturate(200%);
	        filter:saturate(200%);
}


#popupBackground {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow:hidden;
	background-color: rgba(17,24,32,0.5);
	z-index: 100;
	top: 0;
	left: 0;
	display: none;
}
#popupBackground .mobile_header {
	display: none;
	width: 100%;
	background-color: #f7f7f7; 
	position: fixed;
	top: 0;
	left: 0;
	height: 115px;
}
#popupBackground .mobile_header .hamburger {
	width: 25px;
	height: 20px;
	position: absolute;
	left: 35px;
	top: 37px;
}
#popupBackground .mobile_header .hamburger span {
	width: 100%;
	height: 2px;
	background-color: var(--dark-color);
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
#popupBackground .mobile_header .hamburger span:first-child {
	top: 0;
	transform: translateY(0%);
}
#popupBackground .mobile_header .hamburger span:last-child {
	bottom: 0;
	top:auto;
	transform: translateY(0%);
}
#popupBackground .mobile_header .logo {
	width: 200px;
	position: absolute;
	top: 50%;
	left: 100px;
	transform: translateY(-50%);
}
#popupBackground .mobile_header .logo img {
	width: 100%;
}

.popup {
	position: fixed;
	z-index: 101;
	top: 130px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}
.popup .close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: -5px;
	right: -60px;
	cursor: pointer;
}
.popup .close span {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #886e4c;
	position: absolute;
	top: 50%;
	transform-origin: center;
	transform: rotateZ(45deg);
}
.popup .close span:last-child {
	transform: rotateZ(-45deg);
}
.popup .title {
	font-size: 36px;
	color:  var(--dark-color);
	text-align: center;
	font-weight: 300;
}


#sendRequest {
	width: 780px;
	background-color: #fff;
	padding: 125px;
}
#sendRequest form {
	padding-top: 40px;
}
#sendRequest input[type='text'],
#sendRequest input[type='number'] {
	width: 100%;
	display: block;
	border:none;
	border-bottom: 1px solid #b3b3b3;
	font-size: 20px;
	color:  var(--dark-color);
	margin-bottom: 50px;
	height: 75px;
	line-height: 75px;
	font-weight: 100;
}
#sendRequest input[type='text']:focus,
#sendRequest input[type='number']:focus {
	outline: none;
}

#sendRequest input[type='text']:focus::-webkit-input-placeholder {color: #b3b3b3}
#sendRequest input[type='text']:focus::-moz-placeholder          {color: #b3b3b3}
#sendRequest input[type='text']:focus:-moz-placeholder           {color: #b3b3b3}
#sendRequest input[type='text']:focus:-ms-input-placeholder      {color: #b3b3b3}
#sendRequest input[type='number']:focus::-webkit-input-placeholder {color: #b3b3b3}
#sendRequest input[type='number']:focus::-moz-placeholder          {color: #b3b3b3}
#sendRequest input[type='number']:focus:-moz-placeholder           {color: #b3b3b3}
#sendRequest input[type='number']:focus:-ms-input-placeholder      {color: #b3b3b3}

#sendRequest input[type='text']:focus::-webkit-input-placeholder {color: transparent}
#sendRequest input[type='text']:focus::-moz-placeholder          {color: transparent}
#sendRequest input[type='text']:focus:-moz-placeholder           {color: transparent}
#sendRequest input[type='text']:focus:-ms-input-placeholder      {color: transparent}
#sendRequest input[type='number']:focus::-webkit-input-placeholder {color: transparent}
#sendRequest input[type='number']:focus::-moz-placeholder          {color: transparent}
#sendRequest input[type='number']:focus:-moz-placeholder           {color: transparent}
#sendRequest input[type='number']:focus:-ms-input-placeholder      {color: transparent}

#sendRequest input[type='number']::-webkit-outer-spin-button,
#sendRequest input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
#sendRequest input[type='number'] {
    -moz-appearance: textfield;
}

#sendRequest button {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	border:none;
	padding: 0 50px;
	background-color: #886e4c;
	color: #fff;
	font-size: 18px;
	height: 60px;
}


#cameraView .popup_wrap {
	width: 75vw;
	min-width: 320px;
	background-color: #fff;
}
#cameraView .popup_header {
	width: 100%;
	background-color: #7a6344;
	height: 50px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
#cameraView .popup_header .tab {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: #886e4c;
	border-right: 1px solid #6d583d;
	padding: 0 50px;
	font-size: 16px;
	color: #fff;
	font-weight: 300;
	cursor: pointer;
}
#cameraView .popup_header .tab:last-child {
	border-right: 1px solid #7a6344;
}
#cameraView .popup_header .tab.active {
	background-color: #fff;
	border-right: 1px solid #fff;
	color:  var(--dark-color);
}
#cameraView .popup_body {
	width: 100%;
	padding: 30px;
}
#cameraView .popup_body .tab_content {
	width: 100%;
	height: 66vh;
	min-height: 320px;
	display: none;
	position: relative;
}
#cameraView .popup_body .tab_content.active {
	display: block;
}
#cameraView .popup_body .tab_content iframe,
#cameraView .popup_body .tab_content video {
	width: 100%;
	height: 100%;
	background-color: #d3d3d3;
	position: relative;
	z-index: 1;
}
#cameraView .popup_body .tab_content .tab_title {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	height: 35px;
	color: #fff;
	z-index: 99;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	pointer-events: none;
}
#cameraView .popup_body .tab_content .watermark {
	position: absolute;
	width: 150px;
	top: 25px;
	left: 30px;
	height: 35px;
	z-index: 99;
	opacity: 0.5;
	pointer-events: none;
}
#cameraView .popup_body .tab_content .watermark img {
	width: 100%;
}



.checkbox_wrap {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 70px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.checkbox_wrap input {
	display: none;
}
.checkbox_wrap label {
	font-size: 14px;
	color:  var(--dark-color);
	cursor: pointer;
	padding-left: 50px;
	position: relative;
}
.checkbox_wrap label a {
	display: inline;
	font-size: 14px;
	color: #886e4c;
}
.checkbox_wrap label:before {
	content: "";
	position: absolute;
	left: 0;
	top: -5px;
	width: 28px;
	height: 28px;
	border: 1px solid #b3b3b3;
}
.checkbox_wrap input:checked + label:before {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../img/checkbox_checked.png);
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	height: 90px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-left: 80px;
}
header .header_wrap {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 290px 1fr;
	align-items: flex-end;
	width: 100%;
}
header .logo {
	width: 290px;
}
header .logo>img {
	width: 100%;
}
header .logo>img.black {
	display: none;
}
header.black .logo>img {
	display: none;
}
header.black .logo>img.black {
	display: block;
}
header nav ul {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
header nav ul li {
	margin-right: 50px;
	position: relative;
}
header nav ul li:last-child {
	margin-right: 0px;
}
header nav ul li>a {
	color: #fff;
	font-size: 17px;
	font-weight: 300;
	transition: 0.2s linear;
}
header.black nav ul li>a {
	color: #262626;
}
header nav ul li>a:hover {
	color:#a69885;
}
header nav ul li>span {
	width: 100%;
	position: absolute;
	opacity: 0;
	height: 2px;
	background-color: #4f4537;
	bottom: -5px;
	transition: 0.2s linear;
	width: 5%;
	left: 45%;
}
header nav ul li>a:hover~span {
	bottom: -15px;
	opacity: 1;
	width: 100%;
	left: 0;
}
header .phone {
	font-size: 24px;
	font-weight: 300;
	margin-left: 130px;
	font-family: 'Gotham Pro';
	padding-bottom: 1px;
}
header.black .phone {
	color:  var(--dark-color);
}
header .buttons_wrap {
	position: absolute;
	right: 0;
	top: 50px;
	display: flex;
	flex-direction: column;
	z-index: 10;
	cursor: pointer;
}
header .buttons_wrap .button {
	width: 74px;
	height: 74px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: 0.2s linear;
}
header .buttons_wrap .button:hover {
	-webkit-filter:saturate(200%);
	        filter:saturate(200%);
}
header .buttons_wrap .video_button {
	background-color: var(--dark-color);
	background-image: url(../img/video_icon.png);
}
header .buttons_wrap .phone_button {
	background-color: var(--bege-color);
	background-image: url(../img/phone_icon.png);
}



footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color:  var(--dark-color);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}
.footer_wrap, .header_wrap {
	width: 1740px;
	max-width: 100%;
}
.footer_wrap {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 30% 40% 30%;
	align-items: center;s
}
.footer_wrap p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: var(--bege-color);
	font-weight: 300;
	opacity: 0.4;
	text-align: left;
}
.footer_wrap a {
	font-size: 14px;
	color: var(--bege-color);
	font-weight: 300;
	text-align: center;
}
.footer_wrap a:hover {
	color: #b48240;
}
footer .social_links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
footer .social_links a {
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 26px;
	border:1px solid  var(--bege-color);
	border-radius: 50%;
}
footer .social_links a img {
	width: 70%;
}
footer .social_links a:first-child {
	margin-right: 15px;
}
footer .social_links a:hover {
	border:1px solid #c98021;
}
footer .social_links a:hover img {
	-webkit-filter:saturate(200%);
	        filter:saturate(200%);
}

.slider_navigation {
	position: absolute;
	bottom: 60px;
	left: 0;
	width: 100%;
	padding: 0 40px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 15;
}
.slider_navigation .button {
	width: 18px;
	height: 100%;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/arrow_pagination.png);
	cursor: pointer;
}
.slider_navigation .button:hover {
	-webkit-filter:saturate(200%);
	        filter:saturate(200%);
}
.slider_navigation .button#next {
	transform: rotateY(180deg);
	transform-origin: center;
}
.slider_navigation .navigation_line {
	width: calc(100% - 96px);
	display: flex;align-items: center;
	justify-content: center;
	position: relative;
}
.slider_navigation .base_line {
	position: relative;
	width: 100%;
	height: 2px;
	background-color:  var(--bege-color); 
	opacity: 0.7;
}
.slider_navigation .dots {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.slider_navigation .dots .dot {
	width: 14px;
	height: 14px;
	min-width: 14px;
	min-height: 14px;
	border-radius: 50%;
	background-color: var(--bege-color);
	cursor: pointer;
	position: relative;
}
.slider_navigation .dots .dot:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 30px;
	height: 30px;
	min-width: 30px;
	min-height: 30px;
	border:1px solid #886e4c;
	border-radius: 50%;
	display: none;
}
.slider_navigation .dots .dot.active:before {
	display: block;
}
.slider_navigation .dots .dot span {
	display: none;
	font-size: 14px;
	color: var(--bege-color);
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 300;
	white-space: nowrap;
}
.slider_navigation .dots .dot.active span {
	display: block;
}
.slider_navigation .dots .dot a {
	display: block;
	width: 100%;
	height: 100%;
}
.slider_navigation .dots .dot:hover{
	background-color: #ba8949;
}
.slider_navigation .dots .dot:hover span {
	display: block;
}
.slider_navigation .dots .dot.active:hover {
	background-color: #886e4c;
}






#mainPage {
	background-image: url(../img/background_main.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	overflow:hidden;
	padding-top: 220px;
}
#mainPage>.section_wrap {
	z-index: 1;
	position: relative;
	width: 100%;
	padding-left: 80px;
}
.section_wrap {
	width: 1740px;
	max-width: 100%;
	margin: 0 auto;
}
#mainPage h1 {
	font-family: 'Pobeda Bold';
	font-size: 98px;
	font-weight: 700;
	color: var(--dark-color);
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	margin-left: 0px;
	position: relative;
	width: 555px;
	letter-spacing: -5px;
	font-stretch: condensed;
}
#mainPage h1:after {
	content: '';
	position: absolute;
	right: -82px;
	top: -64px;
	width: 161px;
	height: 91px;
	background-image: url(../img/main_figure.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
}


.mobile {
	display: flex;
	width: 80px;
	height: 100%;
	align-items: flex-end;
	justify-content: center;
	cursor: pointer;
	position: absolute; 
	top: 0px;
	left: 0px;
	padding-bottom: 27px;
}
.mobile .hamburger {
	width: 25px;
	height: 20px;
	position: relative;
}
.mobile .hamburger span {
	width: 100%;
	height: 2px;
	background-color: var(--dark-color);
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
header.black .mobile .hamburger span {
	background-color: var(--dark-color);
}
.mobile .hamburger span:first-child {
	top: 0;
	transform: translateY(0%);
}
.mobile .hamburger span:last-child {
	bottom: 0;
	top:auto;
	transform: translateY(0%);
}

#mobileMenu {
	position: fixed;
	z-index: 110;
	background-color: var(--dark-color);
	width: 100%;
	height: auto;
	padding: 30px;
	display: none;
	top: -150%;
	transition: 0.4s ease;
	display: block;
}
#mobileMenu.popup.active {
	top: 0;
}
#mobileMenu .close_menu {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 40px;
	left: 30px;
}
#mobileMenu .close_menu span {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) rotateZ(-45deg);
	transform-origin: center;
	width: 100%;
	height: 2px;
	background-color: #b8babd;
}
#mobileMenu .close_menu span:last-child {
	transform: translateY(-50%) rotateZ(45deg);
}
#mobileMenu .logo {
	margin-left: 70px;
	width: 200px;
}
#mobileMenu .logo img {
	width: 100%;
}
#mobileMenu .popup_body {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: repeat(6, 1fr);
	grid-template-columns: repeat(6, 1fr);
	-ms-grid-rows: 1fr;
	grid-template-rows: 1fr;
	margin-top: 50px;
	margin-bottom: 50px;
}
#mobileMenu .popup_body a {
	font-size: 17px;
	color: #fff;
	font-weight: 300;
	padding: 20px 0;
}
#mobileMenu .popup_body a:hover {
	color: var(--bege-color);
}





@media all and (max-width: 1800px) {
	.footer_wrap, .header_wrap {
		width: 100%;
		padding: 0 30px;
	}
}
@media all and (max-width: 1700px) {
	header nav ul li {
		margin-right: 25px;
	}
	#mainPage:before {
		transform: rotateZ(45deg) translateY(13vw) translateX(-80vw);
	}
	#mainPage:after {
		top: 525px;
	}
}
@media all and (max-width: 1600px) {
}
@media all and (max-width: 1450px) {
	header nav ul li>a {
		font-size: 14px;
	}
	.section_wrap {
		padding: 0 100px;
	}
	#mainPage:after {
		top: 480px;
	}
}
@media all and (max-width: 1350px) {
	header nav ul li>a {
		font-size: 12px;
	}
	header .phone {
		margin-left: 30px;
		margin-right: 55px;
	}
	#mainPage:after {
		top: 460px;
	}
	header nav ul li {
		margin-right: 15px;
	}
}
@media all and (max-width: 1220px) {
	#cameraView .popup_header .tab {
		padding: 0 30px;
	}
	#cameraView .popup_header {
		height: 40px;
	}
	#cameraView .popup_header .tab {
		font-size: 14px;
	}
	#cameraView .popup_body {
		padding: 20px;
	}
	.mobile {
		display: flex;
	}
	#mobileMenu {
		top: -150%;
		transition: 0.4s ease;
		display: block;
	}
	#mobileMenu.popup.active {
		top: 0;
	}
	.navigation {
		display: none;
	}
	header {
		height: 90px;
	}
	header .header_wrap {
		padding: 0;
		padding-right: 10vw;
	}
	header .logo {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 100px;
	}
	header .buttons_wrap .button {
		width: 64px;
		height: 64px;
	}
	header .buttons_wrap {
		top: 40px;
	}
	header .phone {
		grid-column-start: 2;
		grid-column-end:3;
		margin: 0;
		text-align: right;
		padding-bottom: 13px;
	}
	header .header_wrap {
		grid-template-columns: 1fr;
	}
}
@media all and (max-width: 1024px) {
	header {
		height: 70px;
	}
	header .logo {
	    width: 200px;
	}
	header .phone {
		font-size: 20px;
	}
	.mobile {
		padding-bottom: 16px;
	}
	#mobileMenu .popup_body {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	#mainPage:before {
		opacity: 0.8;
	    transform: rotateZ(45deg) translateY(0vw) translateX(-80vw);
	}
	#mainPage:after {
		right: -20%;
		top: auto;
		bottom: -20%;
	}
	#socialLinksBar {
		bottom: 180px;
	}
	#mainPage {
		padding-top: 200px;
		background-image: url(../img/background_main_tablet.png);
	}
	#mainPage h1>span {
		font-size: 20px;
		margin-bottom: 5px;+7
	}
	#mainPage h1 {
		font-size: 76px;
		width: 435px;
	}
	#mainPage h1:after {
	    right: -36px;
	    top: -49px;
	    width: 120px;
	    height: 68px;
	}

	.slider_navigation .dots .dot {
		width: 10px;
		height: 10px;
		min-width: 10px;
		min-height: 10px;
	}
	.slider_navigation .dots .dot:before {
		width: 20px;
		height: 20px;
		min-width: 20px;
		min-height: 20px;
	}
	.popup#cameraView {
		top: 115px;
		left: 0;
		transform: translateY(0) translateX(0);
		width: 100%;
	}
	#cameraView .popup_wrap {
		width: 100%;
	}
	#cameraView .popup_body .tab_content {
		height: calc(100vh - 195px);
	}
	.popup#cameraView .close {
		top: -80px;
		right: 30px;
	}
	#sendRequest input[type='text'], #sendRequest input[type='number'] {
		font-size: 18px;
	}
	#sendRequest {
		width: 710px;
	}
	.popup .title {
		font-size: 30px;
	}
	.slider_navigation .dots .dot:before {
		width: 25px;
		height: 25px;
		min-width: 25px;
		min-height: 25px;
	}
	#cameraView .popup_body .tab_content .watermark {
		width: 120px;
	}
	
}
@media all and (max-width: 980px) {
	.popup .close {
		top: 30px;
		right: 30px;
	}
}
@media all and (max-width: 860px) {
	#mainPage {
		padding-top: 160px!important;
	}
	#mainPage h1 {
		width: 370px;
		font-size: 64px;
	}
	#mainPage h1:after {
	    right: -10px;
	    top: -38px;
	    width: 95px;
	    height: 54px;
	}
	.section_wrap {
		padding-left: 30px;
	}
}
@media all and (max-width: 800px) {
	.section_wrap {
		padding: 0 20px;
	}
}
@media all and (max-width: 730px) {
	#mainPage:after {
		bottom: -13%;
	}
	#sendRequest {
		width: 100% !important;
		height: calc(100vh - 115px) !important;
	}
	.popup .close {
		top: -80px;
	}
	.popup {
		top: 115px;
	}
	.section_wrap {
		padding-left: 35px;
	}
	#mobileMenu .popup_body {
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media all and (max-width: 670px) {
	.footer_wrap p, .footer_wrap a {
		font-size: 12px;
	}
	header .phone {
		margin-right: 30px;
	}
}
@media all and (max-width: 600px) {
	#mainPage h1 {
		width: 335px;
	}
	.slider_navigation {
		display: none;
	}
	footer {
		height: 100px;
	}
	.footer_wrap {
		display: -ms-grid;
		display: grid;
		-ms-grid-rows: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		-ms-grid-columns: 1fr 70px;
		grid-template-columns: 1fr 70px; 
		padding: 0 10px;
	}
	.footer_wrap a {
		-ms-grid-column: 1;
		    grid-column-start: 1;
		-ms-grid-column-span: 1;
		grid-column-end: 2;
		-ms-grid-row: 2;
		    grid-row-start: 2;
		-ms-grid-row-span: 1;
		grid-row-end: 3;
		text-align: left;
	}
	footer .social_links {
		-ms-grid-column: 2;
		    grid-column-start: 2;
		-ms-grid-column-span: 1;
		grid-column-end: 3;
		-ms-grid-row: 1;
		    grid-row-start: 1;
		-ms-grid-row-span: 1;
		grid-row-end: 2;
	}
	header {
		top: 35px;
	}
	#socialLinksBar {
		top: 0;
		left: 0;
		height: 35px;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		padding: 0 10px;
		position: fixed;
	}
	#socialLinksBar a {
		margin: 0 10px;
	}
	#socialLinksBar a img {
		height: 18px;
	}
	header .buttons_wrap {
		top: 0px;
		right: 0;
		left: 0;
		flex-direction: row;
		justify-content: flex-end;
		width: 100%;
		background-color: var(--dark-color);
		padding-right: 10px;
		position: fixed;
	}
	header .buttons_wrap .button {
		width: 35px;
		height: 35px;
	}
	header .buttons_wrap .phone_button {
		background-color: transparent;
		background-image: url(../img/phone_icon_mobile.png);
	}
	header .logo {
		width: 160px;
	}
	header .phone {
		margin: 0;
	}
	header .header_wrap {
		padding-right: 10px;
	}
	#mainPage {
		padding-top: 160px;
		padding-bottom: 160px !important;
		min-height: 100vh;
	}
	#mainPage h1>span {
		font-size: 16px;
		margin-bottom: 10px;
	}
	#mainPage h1 {
		font-size: 58px;
		margin-bottom: 30px;
	}
	#popupBackground .mobile_header {
		height: 60px;
	}
	#popupBackground .mobile_header .logo {
		width: 160px;
		left: 55px;
	}
	#popupBackground .mobile_header .hamburger {
		left: 10px;
		top: 20px;
	}
	.popup#cameraView {
		top: 60px;
	}
	.popup#cameraView .close, .popup .close {
		top: -50px!important;
		right: 10px;
	}
	#cameraView .popup_header .tab {
		padding: 0 10px;
		width: 33.3333%;
	}
	#cameraView .popup_header .tab:last-child {
		border-right: none;
	}
	#cameraView .popup_header {
		height: 60px;
	}
	#cameraView .popup_body {
		padding: 15px;
	}
	#cameraView .popup_body .tab_content {
		height: calc(100vh - 150px)!important;
	}
	#sendRequest {
		top: 60px!important;
		height: calc(100vh - 60px)!important;
		padding: 70px 30px!important;
	}
	#mobileMenu .popup_body {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		-ms-grid-rows: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	#cameraView .popup_body .tab_content .watermark {
		width: 100px;
	} 
}
@media all and (max-width:480px) {
	header .logo {
		width: 135px;
		left: 60px;
	}
	#popupBackground .mobile_header .logo {
		width: 135px;
	}
	header .phone {
		font-size: 16px;
	}
	.mobile {
		width: 60px;
	}
	header {
		height: 60px;
	}
	.mobile .hamburger {
		width: 20px;
		height: 17px;
	}
	#mainPage {
		padding-top: 135px!important;
	}
	#mainPage>.section_wrap {
		padding-left: 15px;
	}
	#mobileMenu .popup_body {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		-ms-grid-rows: 1fr;
		grid-template-rows: 1fr;
	}
	#mobileMenu {
		height: 100vh;
		padding: 0;
	}
	#mobileMenu .close_menu {
		left: 10px;
		top: 20px;
	}
	#mobileMenu .logo {
		margin-left: 60px;
		width: 160px;
		margin-top: 20px;
	}
	#mobileMenu .popup_body a {
		padding-left: 60px;
		font-size: 16px;
	}
	#mobileMenu .popup_body a:hover {
		background-color: #181f27;
	}
}
@media all and (max-width:360px) {
	
	header .phone {
		font-size: 14px;
	}
	.popup .title {
		font-size: 22px;
	}
	#sendRequest input[type='text'], #sendRequest input[type='number'] {
		font-size: 16px;
		height: 50px;
		margin-bottom: 30px;
	}
	.checkbox_wrap {
		margin-top: 50px;
	}
	#sendRequest button {
		height: 50px;
	}
}
@media all and (max-width:340px) {
	header .logo {
		width: 110px;
	}
	header .phone {
		font-size: 12px;
	}
}




@media all and (max-height: 940px) {
	.slider_navigation {
		bottom: 70px;
	}
	#sendRequest {
		padding: 70px;
		width: 660px;
	}
	#mainPage {
		padding-top: 200px;
	}
}
@media all and (max-height: 730px) {
	.popup {
		top: 50px;
	}
	#cameraView .popup_body .tab_content {
		height: calc(100vh - 160px);
	}
}
@media all and (max-height: 690px) {
	#sendRequest {
		top: 10px;
		padding: 30px;
		width: 520px;
	}
	#sendRequest .close {
		top: 15px;
	}
}
@media all and (max-height: 540px) {
	.popup .title {
		font-size: 24px;
	}
	#sendRequest form {
		padding-top: 20px;
	}
	#sendRequest input[type='text'], #sendRequest input[type='number'] {
		height: 50px;
		margin-bottom: 30px;
		font-size: 18px;
	}
	.checkbox_wrap {
		margin-bottom: 50px;
	}
}
@media all and (max-height: 500px) {
	.popup {
		top: 0px;
	}
	.popup .close {
		top: 15px;
	}
	#cameraView .popup_body .tab_content {
		height: calc(100vh - 110px);
	}
	#socialLinksBar {
		display: none;
	}
}
@media all and (max-height: 380px) {
	#sendRequest {
		padding: 20px 30px;
	}
	#sendRequest input[type='text'], #sendRequest input[type='number'] {
		height: 40px;
	}
	#sendRequest button {
		height: 40px;
		padding: 0 20px;
		font-size: 16px;
	}
	.checkbox_wrap {
		margin-bottom: 30px;
	}
}